.navbar.navbar-static-top.navbar-default
  .container
    .navbar-header 
      .navbar-brand Welcome #{user.DisplayName}
    .navbar-right
      a.btn.btn-default.navbar-btn#logout(href="logout") Log Out