doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1030/styles/kendo.common.min.css')
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1030/styles/kendo.bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    
    block content

    script(src='//code.jquery.com/jquery-1.9.1.min.js')
    script(src='//cdn.kendostatic.com/2013.3.1030/js/kendo.all.min.js')